.design-wrapper-first,.design-wrapper-third,.design-wrapper-second{
	width: 80%;
	padding: 10px;
}

.profile-header img{
	width:100%;
	height: 400px;
	float: none; 
}
.profile-header h2{
	float: left;
	font-family: sans-serif;
	margin-left: 10%;
	display: none;
	margin-top: 5%;
}

button{
	padding: 6px;
	cursor: pointer;
	float: right;
	width: 65px;
}
button a{
	text-decoration: none;
}

h1{
	float: left;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 16px
}
table th span{
	float: left;
}

table{
	width: 100%;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-top: 1px solid #999;
}
table th{
	border-bottom: 1px solid #999;
	padding: 6px;
	border-right: 1px solid #999;
	font-family: sans-serif;
	font-size: 20px;
}
table td{
	border-bottom: 1px solid #999;
	border-right: 1px solid #999;
	font-family: sans-serif;
	font-size: 18px;
	padding: 10px;
}

table td span{
	border-bottom: 1px solid #999;
	display: block;	padding: 10px
}


@media(max-width:768px){
	.scrollable-table{
		overflow-x: scroll;
	}
	.design-wrapper-first{
		width: 98%;
	}
	.profile-header img{
		width: 100%;
		float: none;
		display: none;
	}
}